/* You can add global styles to this file, and also import other style files */
// GLOBALS
:root {
  --app-padding: 30px;
  --app-shadow-01: 0px 5px 13px -7px rgba(0, 0, 0, 0.4);
  --app-shadow-02: 0px 10px 13px -7px rgba(0, 0, 0, 0.4);
  --app-shadow-03: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  --app-border-radius: 8px;
}

html {
  background-color: var(--blue-50);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
